@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600&family=Outfit:wght@100;400;700&display=swap");

:root {
    --background: #0d1224;
    --primary: #8244ff;
    --secondary: #f926ae;
    --green: #16f8b6;
    --red: #ed6a5e;
    --yellow: #ff9f24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

body {
    /* font-family: Arial, sans-serif; */
    font-size: 24px;
    font-family: "Outfit",system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-weight: lighter;
    text-align: justify;
    margin: 5px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow-x: hidden;
}
header {
    background: rgba(131, 94, 191, 0.3);
    color: #fff;
    text-align: center;
    padding: 10px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--green);
    text-decoration: none;
    margin: 0 500px;
    padding: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: var(--green);
}
h2 {
    color: var(--secondary);
    padding-top: 20px;;
}
p {
    line-height: 1.6;
}
.contact {
    background-color: #591de2;
    color: var(--green);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
a{
    color: #a6e21d;
    text-decoration: none;
}
.glass{
    background-color: rgba(131, 94, 191, 0.3);
    padding: 20px;
    margin-top: 20px;
    transition: all 0.25s ease;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 21px;
    border: 1px solid gray;
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.glass:hover {
    /* transform: scale(1.04) rotate(1deg); */
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1);
    transform: scale(1.01);
    backdrop-filter: none;
}

.logo-hover {
    height: 60px;
    width: min-content;
    background-image: linear-gradient(
      163deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    border-radius: 10px;
    transition: all 0.3s;
}
  
.logo {
    border-radius: 10px;
    background-color: #fff;
  
    height: 60px;
    width: min-content;
    padding: 14px;
  
    font-size: 28px;
    font-weight: bold;
    color: var(--background);
    letter-spacing: 2px;
  
    transition: all 0.2s;
}  
.logo:hover {
    transform: scale(0.98);
    border-radius: 10px;
}
  
.logo-hover:hover {
    box-shadow: 0px 0px 30px 1px rgba(234, 0, 255, 0.3);
}
