:root {
  --background: #0d1224;
  --primary: #8244ff;
  --secondary: #f926ae;
  --green: #16f8b6;
  --red: #ed6a5e;
  --yellow: #ff9f24;
}
.button-1{
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--primary);
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  outline: 2px solid var(--primary);
}


.button-1:hover {

  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  outline: 2px solid #a57afb;
  -webkit-box-shadow: 4px 5px 17px -4px #a57afb;
  box-shadow: 4px 5px 17px -4px #a57afb;
}

.button-1::before {

  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary);
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  z-index: -1;
  -webkit-transition: width 1000ms;
  transition: width 1000ms;
}

.button-1:hover::before {
  width: 250%;
}

/* .card{
  width: 310px;
  height: 650px;
  /* padding:40px; */
  /* margin:2px;
    transition: all 0.2s;

  position: relative;
  cursor: pointer;
  background-color: transparent;
} */ */

.card-inner {
  width: inherit;
  height: inherit;
  padding: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.35); */

  background-image: url("./assets/gradientTrans.png");
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 21px;
  border: 2px solid rgba(255, 255, 255, 0.18);

  /* height: 650px; */
  /* background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  overflow: hidden; */
}

.card{
  transition: all 0.25s ease;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.48);
  border-radius: 21px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card:hover {
  /* transform: scale(1.04) rotate(1deg); */
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1);
  transform: scale(1.01);
  backdrop-filter: none;
}

.circle {
  width: 150px;
  height: 150px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.blob-pink {
  background: radial-gradient(#f926ae, #f368ce);
}

.blob-purple {
  background: radial-gradient(#8244ff, #a57afb);
}

.blob-blue {
  background: radial-gradient(#2591fe, #76bbff);
}

.blob-white {
  background: radial-gradient(#fff, #a8a8a8);
}

.blob-baby {
  background: radial-gradient(#eee34f, #eee5e5);
}

.circle:nth-child(1) {
  top: -55px;
  left: -55px;
}

.circle:nth-child(2) {
  bottom: -55px;
  right: -55px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.card-inner > img {
  height: 50%;
  width: 80%;
  align-items: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  /* margin: 20px;   */
  /* padding-top: 10px; */
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5%;
  border: 2px solid rgb(248, 248, 248);
}

.card-inner > .card-body {
  height: 80%;
  width: 100%;
  /* background: #000; */
  color: whitesmoke;
  text-align: center;
  font-size: 1.7em;
}

.card-inner:hover {
  backdrop-filter: none;
}
/* social media handles design  */

.socialIcons {
  list-style: none;
  padding: 0;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.socialIcons li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  /* backdrop-filter: blur(1px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.github:hover {
  background: linear-gradient(45deg, #000000, #232424);
}

.instagram:hover {
  background: linear-gradient(45deg, #e1306c, #c13584);
}

.linkedin:hover {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
}

.socialIcons li:hover {
  transform: scale(1.1);
}

/* === removing default button style ===*/
.hover-button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.hover-button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: var(--primary);
  --fs-size: 0.9em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.hover-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
