body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151111;
    color: #e2dcdc;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3e3a3a;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
    border: 2px solid white;
  }


  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #efe8e8;
  }
  .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  .contact-info p {
    margin: 5px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #807c7c;
  }
  th {
    background-color: #f2f2f2;
    color: #151111;
  }
  span {
    background-color: #302c2c;
    color: #f2e8e8;
    border-radius: 2px;
    padding: 4px 8px;
  }
  img {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 20px auto;
    border-radius: 50%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    margin-bottom: 10px;
  }
  .social-media {
    text-align: center;
    margin-bottom: 20px;
  }
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #fffdfd;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  .social-media a:hover {
    color: #007bff;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #807c7c;
    margin: 20px 0;
  }

   /* the folllowing code is for making the resume resoponsive */
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    img {
      max-width: 100px;
    }
  }
  @media only screen and (max-width: 480px) {
    .container {
      padding: 10px;
      border-radius: 0;
      box-shadow: none;
    }
  }